* {
    background-color: rgb(171, 167, 167);
    box-sizing: border-box;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    margin: 30px;
    background-color: aliceblue;
    border: 15px solid orange;
    padding: 15px;
    ;
}

ul, li, a {
    background-color: aliceblue;
}

ul {
    border: 15px solid orange;
    margin: 30px;
}