* {
    
    box-sizing: border-box;
}

p {
    background-color: lightgrey;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    margin: 30px;
    background-color: lightgray;
    
    border: 15px solid orange;
    padding: 15px;
    ;
}

.MainList {
    border: 15px solid orange;
    margin: 30px;
    background-color: lightgray;
}

img {
    display: block;
    margin: 0px auto;
    border: 15px solid orange;
    background-color: lightgray;
}

.Description {
    
    border: 15px solid orange;
    margin: 30px;
    background-color: lightgray;
   
}

.Ingredients {
    
    border: 15px solid orange;
    margin: 30px;
    background-color: lightgray;
   
}

.Steps {
    
    border: 15px solid orange;
    margin: 30px;
    background-color: lightgray;
   
}

.BurgerDes {
    
    border: 15px solid orange;
    margin: 30px;
    background-color: lightgray;
   
}

.BurgerIng {
    
    border: 15px solid orange;
    margin: 30px;
    background-color: lightgray;
   
}

.BurgerSte {
    
    border: 15px solid orange;
    margin: 30px;
    background-color: lightgray;
   
}




